body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#house {
  background-image: url(https://api.makemyhouse.com/public/Media/rimage/500/completed-project/1596023356_484.jpg?watermark=false);

  background-color: grey;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;

  align-items: flex-end;
}

#elevator {
  background-image: url(http://buildingelevators.co.in/img/elevator2.jpg);
  width: 48px;
  height: 50px;
  background-size: 50px;
  margin-right: 120px;
}
.btns {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
img {
  width: 50px;
  height: 50px;
}
